<%- include('../includes/head.ejs') %>

<body class="login-main-body">
  <section class="login-main-wrapper">
    <div class="container-fluid pl-0 pr-0">
      <div class="row no-gutters">
        <div class="col-md-5 p-5 bg-white full-height">
          <div class="login-main-left">
            <div class="text-center mb-5 login-main-left-header pt-4">
              <img
                src="/img/stirilemele.png"
                style="max-height: 80px !important;"
                class="img-fluid"
                alt="LOGO"
              />
              <h5 class="mt-3 mb-3"><%= lingua.regisztracio %></h5>
              <!-- <p>
                It is a long established fact that a reader <br />
                will be distracted by the readable.
              </p> -->
            </div>
            <% if (errorMessage) { %>
            <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>

            <% } %>
            <script>
              $(function () {
                $("#password_error_message").hide();

                $("#confirmPassword_error_message").hide();

                var error_password = false;

                var error_confirmPassword = false;

                $("#password").focusout(function () {
                  check_password();
                });

                $("#confirmPassword").focusout(function () {
                  check_confirmPassword();
                });
                function check_password() {
                  var password = $("#password").val().length;

                  if (password < 6) {
                    // $(".price").addClass("is-invalid");
                    $("#password_error_message").html(
                      "Vă rugăm să introduceți o parolă cel puțin 6 caractere!"
                    );
                    $("#password_error_message").show();

                    error_password = true;
                  } else {
                    $("#password_error_message").hide();
                  }
                }

                function check_confirmPassword() {
                  var confirmPassword = $("#confirmPassword").val().length;

                  if (confirmPassword < 6) {
                    $("#confirmPassword_error_message").html(
                      "Vă rugăm să introduceți o parolă cel puțin 6 caractere!"
                    );
                    $("#confirmPassword_error_message").show();
                    error_confirmPassword = true;
                  } else {
                    $("#confirmPassword_error_message").hide();
                  }
                }

                $("#register").submit(function () {
                  error_confirmPassword = false;

                  error_password = false;

                  check_password();
                  check_confirmPassword();

                  if (
                    error_confirmPassword == false &&
                    error_password == false
                  ) {
                    $("#sendReq").prop("disabled", true);

                    return true;
                  } else {
                    return false;
                  }
                });
              });
            </script>
            <form action="/autentificare/signup" method="POST" id="register">
              <div class="form-group">
                <label>E-mail</label>
                <input class="form-control" placeholder="E-mail" name="email" />
              </div>
              <div class="form-group">
                <label><%= lingua.jelszo %></label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  placeholder="<%= lingua.jelszo %>"
                  name="password"
                />
                <span
                  class="invalid-feedback"
                  id="password_error_message"
                ></span>
              </div>
              <div class="form-group">
                <label><%= lingua.jelszo_ujra %></label>
                <input
                  id="confirmPassword"
                  type="password"
                  class="form-control"
                  placeholder="<%= lingua.jelszo_ujra %>"
                  name="confirmPassword"
                />
                <span
                  class="invalid-feedback"
                  id="confirmPassword_error_message"
                ></span>
              </div>

              <div class="mt-4">
                <button
                  type="submit"
                  id="sendReq"
                  class="btn btn-outline-primary btn-block btn-lg"
                >
                  <%= lingua.regisztracio %>
                </button>
              </div>
            </form>
            <div class="text-center mt-5">
              <p class="light-gray">
                <a href="/terms"><%= lingua.regisztracioval %></a>
              </p>
            </div>
            <div class="text-center mt-5">
              <p class="light-gray">
                <%= lingua.van_mar_fiokod %>
                <a href="/autentificare/login"><%= lingua.bejelentkezes %></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="login-main-right bg-white p-5 mt-5 mb-5">
            <div class="owl-carousel owl-carousel-login">
              <div class="item">
                <div class="carousel-login-card text-center">
                  <img
                    src="/img/banner1.png"
                    style="border-radius: 30px;"
                    class="img-fluid"
                    alt="LOGO"
                  />
                  <h5 class="mt-5 mb-3">​<%= lingua.kategoria_bejeloles %></h5>
                </div>
              </div>
              <div class="item">
                <div class="carousel-login-card text-center">
                  <img
                    src="/img/banner2.png"
                    style="border-radius: 30px;"
                    class="img-fluid"
                    alt="LOGO"
                  />
                  <h5 class="mt-5 mb-3"><%= lingua.hirportal_bejeloles %></h5>
                  <!-- <p class="mb-4">
                    when an unknown printer took a galley of type and
                    scrambled<br />
                    it to make a type specimen book. It has survived not
                    <br />only five centuries
                  </p> -->
                </div>
              </div>
              <div class="item">
                <div class="carousel-login-card text-center">
                  <img
                    src="/img/banner3.png"
                    style="border-radius: 30px;"
                    class="img-fluid"
                    alt="LOGO"
                  />
                  <!-- <h5 class="mt-5 mb-3">Create GIFs</h5>
                  <p class="mb-4">
                    when an unknown printer took a galley of type and
                    scrambled<br />
                    it to make a type specimen book. It has survived not
                    <br />only five centuries
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
