<%- include('../includes/head.ejs') %>
<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <section class="blog-page section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="card blog mb-4">
                  <div class="card-body">
                    <h5 class="mb-4">
                      1. Informatii despre site
                    </h5>
                    <p style="font-size: 14px;">
                      1.1. Site-ul web stirilemele.ro este un proiect hobby,
                      numit pe parcursul acestor termeni si conditii
                      stirilemele.ro Adrese de contact: Strada Principala 1263,
                      Joseni, 537130 Tel: (+40) 07 534.10.70 email:
                      stirilemele.ro[at]gmail.com<br /><br />
                      1.2. stirilemele.ro este un portal web de stiri online cu
                      informatii si analize ale redactiei proprii, o revista a
                      presei si alte informatii preluate de la terti parteneri.
                    </p>

                    <h5 class="mb-4">
                      2. Proprietatea Intelectuala
                    </h5>
                    <p style="font-size: 14px;">
                      <b
                        >Acest site colectează știri. Nu își asumă nicio
                        responsabilitate pentru conținutul acestui articol.</b
                      >
                      <br />
                      <br />
                      2.1 Continutul si design-ul stirilemele.ro, inclusiv
                      look&feel-ul acestuia si bazele de date accesibile prin
                      intermediul sau, sunt proprietatea stirilemele.ro si sunt
                      protejate prin legislatia romana in vigoare cu privire la
                      drepturile de autor si drepturile conexe. Textele postate
                      de catre utilizatori la "Adaugare comentariu" si in
                      "Forum" devin proprietatea stirilemele.ro din momentul
                      postarii. In cazul informatiilor si continutului postat de
                      utilizatori inregistrati sau terte parti ori parteneri pe
                      site-ul stirilemele.ro, dreptul de autor si
                      responsabilitatea asupra acestora apartin in totalitate
                      celor care au publicat acea informatie. In cazul
                      continutului preluat de la parteneri pe baza acordurilor
                      incheiate, acestea sunt identficate prin mentionarea
                      numelui partenerului linga textul sau imaginea espectiva.
                      <br />
                      <br />
                      2.2 Anumite sectiuni din cadrul portalului contin
                      informatii puse la dispozitie de catre utilizatorii
                      stirilemele.ro printr-o licenta gratuita,neexclusiva si
                      nelimitata in timp si spatiu. Licenta mentionata anterior
                      include si dreptul stirilemele.ro de a sublicentia cu
                      titlu gratuit respectivul continut catre terte parti cu
                      care are relatii contractuale. Drepturile de autor asupra
                      operelor incarcate de utilizatori raman la acestia,
                      stirilemele.ro actionind doar ca un gazduitor gratuit al
                      informatiilor respective. 2.3. Cu exceptia continutului
                      specific prezentat la punctul 2.2, unde se aplica termenii
                      licentelor respective, puteti folosi continutul
                      stirilemele.ro doar pentru folosinta dvs. Personala, iar
                      actiunile descrise mai jos nu sunt permise in lipsa
                      obtinerii in prealabil a unei permisiuni scrise din partea
                      stirilemele.ro: a. indepartarea insemnelor care identifica
                      dreptul de autor al stirilemele.ro asupra continutului; b.
                      modificarea, publicarea, transmiterea, retransmiterea in
                      orice mod sau forma, precum si participarea la transferul,
                      vanzarea, distributia unor materiale realizate prin
                      reproducerea, modificarea sau afisarea continutului, in
                      lipsa obtinerii in prealabil a unei permisiuni scrise din
                      partea noastra; c. reproducerea sau stocarea continutului,
                      precum si trimiterea acestui continut catre orice alt
                      website, server sau orice alt mijloc de stocare a
                      informatiei, daca scopul acestei activitati este unul
                      comercial. 2.4. Este interzisa orice utilizare a
                      continutului stirilemele.ro in alte scopuri decat cele
                      permise expres de prezentul document sau de legislatia in
                      vigoare. Cererile de utilizare a continutului in alte
                      scopuri decat cele permise expres de prezentul document
                      pot fi trimise la adresa de email stirilemele.ro@gmail.com
                      2.5. In conditiile in care considerati ca un anumit
                      continut aflat pe site-ul stirilemele.ro incalca
                      drepturile dvs. de proprietate intelectuala, dreptul la
                      viata privata, la publicitate sau alte drepturi personale,
                      sunteti rugat sa trimiteti un email la
                      stirilemele.ro@gmail.com cu drepturile incalcate, pentru a
                      permite administratorilor stirilemele.ro sa actioneze in
                      conformitate cu dispozitiile legale conform Legii 365/2002
                      privind comertul electronic. 2.6. In cazul operelor
                      incarcate de utilizatori, stirilemele.ro functioneaza
                      intr-un regim de gazduire gratuita si ca atare nu putem fi
                      facuti responsabili pentru continutul pus de terte
                      persoane pe serverul nostru. Din cauza numarului mare de
                      fisiere gazduite, este imposibil sa facem o evaluare
                      individuala si obiectiva a fiecarui continut postat de
                      utilizatorii inregistrati. Desi depunem toate diligentele
                      pentru identificarea si stergerea continutului ce ar
                      incalca drepturile de proprietate intelectuala ale altor
                      persoane, scopul site-ului stirilemele.ro fiind informarea
                      cititorilor nostri in mod legal, exista posibilitatea ca
                      un anume continut postat de utilizatorii inregistrati sa
                      incalce drepturile tertilor. In aceste conditii va rugam
                      sa ne trimiteti un email la adresa
                      stirilemele.ro@gmail.com cu drepturile incalcate, pentru a
                      permite administratorilor stirilemele.ro sa actioneze in
                      conformitate cu dispozitiile legale conform art 14 din
                      Legea 365/2002 privind comertul electronic. 2.7
                      Utilizatorii stirilemele.ro inteleg faptul ca sunt
                      responsabili de orice continut publicat de catre ei pe
                      platforma oferita de stirilemele.ro, si ca sunt singurii
                      care pot fi trasi la raspundere de autoritatile competente
                      pentru incalcarea oricarui act normativ, indiferent ca
                      vorbim de comentariile publicate, operele incarcate pe
                      platforma stirilemele.ro sau orice alt tip continut. 2.8.
                      stirilemele.ro este marca inregistrata a SC stirilemele.ro
                      SRL, avind numar de inregistrare la OSIM 70659. Este
                      interzisa utilizarea acesteia in orice mod, fara un acord
                      scris din partea stirilemele.ro 3. Suspendarea accesului
                      stirilemele.ro poate, fara orice alta notificare sau
                      formalitate si fara ca acest lucru sa necesite explicarea
                      atitudinii sale, sa suspende sau sa blocheze accesul dvs.
                      la continutul siteului sau la o parte a acestui continut.
                      4. Schimbari ale site-ului stirilemele.ro isi rezerva
                      dreptul de a suspenda, modifica, adauga sau sterge in
                      orice moment portiuni ale continutului sau. De asemenea,
                      stirilemele.ro isi rezerva dreptul de a restrictiona
                      accesul utilizatorilor la o parte sau la intregul sau
                      continut. 5. Inregistrare, parole si responsabilitati 5.1.
                      Accesul dvs. la serviciul de Newsletter sau unele
                      facilitati din cadrul siteului necesita inregistrarea dvs.
                      cu un nume de utilizator si o parola. Va recomandam sa nu
                      dezvaluiti nimanui aceasta parola. stirilemele.ro nu va
                      cere niciodata parola conturilor dvs in mesaje prin posta
                      electronica sau telefon. 5.2.Din pacate, nici o transmisie
                      de date prin intemediul internetului nu poate fi garantata
                      a fi 100% sigura. In consecinta, in ciuda eforturilor
                      noastre de a va proteja informatia personala,
                      stirilemele.ro nu poate asigura sau garanta securitatea
                      informatiilor transmise de dvs. catre noi, catre si de la
                      serviciile noastre online. Va avertizam asadar ca orice
                      informatie trimisa catre noi se va face pe propriul dvs.
                      risc. 7. Viata privata 7.1 Informatii generale
                      stirilemele.ro respecta viata dvs. privata si datele cu
                      caracter personal pe care le impartasiti cu noi in
                      momentul accesarii acestui site. Aceaste informatii au
                      rolul de a va informa cu privire la ce tip de informatie
                      identificabila personal este colectata de la dvs., cum si
                      unde am putea folosi aceasta informatie, cum intelegem noi
                      sa protejam informatia colectata de la dvs., cine are
                      acces la informatia colectata de la dvs. si cum pot fi
                      corectate in timp inadvertentele din informatia preluata.
                      stirilemele.ro respecta legislatia romana in vigoare, in
                      speta Legea nr. 677/2001 pentru protectia persoanelor cu
                      privire la prelucrarea datelor cu caracter personal si
                      libera circulatie a acestor date, modificata si completata
                      si Legea nr. 506/2004 privind prelucrarea datelor cu
                      caracter personal si protectia vietii private in sectorul
                      comunicatiilor electronice.
                      <br />
                      <br />
                      <a href="https://www.digitalocean.com"
                        >Server hosting: digitalocean.com</a
                      >
                      <br />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
<body id="page-top"></body>
