<ul class="sidebar navbar-nav">
  <li class="nav-item <%= path === '/' ? 'active' : '' %>">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-home"></i>
      <span><%= lingua.hirek %></span>
    </a>
  </li>
  <% if(logged == 1){ %>
  <li class="nav-item <%= path === '/stiri-configurate' ? 'active' : '' %>">
    <a class="nav-link" href="/stiri-configurate">
      <i class="fas fa-fw fa-cogs"></i>
      <span><%= lingua.kedvelt_hirek %></span>
    </a>
  </li>

  <li class="nav-item <%= path === '/profile/history' ? 'active' : '' %>">
    <a class="nav-link" href="/profile/history">
      <i class="fas fa-fw fa-history"></i>
      <span><%= lingua.elozmenyek %></span>
    </a>
  </li>
  <% } %>

  <li class="nav-item <%= path === '/channels' ? 'active' : '' %>">
    <a class="nav-link" href="/channels">
      <i class="fas fa-fw fa-users"></i>
      <span><%= lingua.hirportalok %></span>
    </a>
  </li>
  <li class="nav-item <%= path === '/categorii' ? 'active' : '' %>">
    <a class="nav-link" href="/categorii">
      <i class="fas fa-fw fa-list-alt"></i>
      <span><%= lingua.kategoriak %></span>
    </a>
  </li>
  <% if(logged == 1){ %>
  <li class="nav-item <%= path === '/help' ? 'active' : '' %>">
    <a class="nav-link" href="/help">
      <i class="fas fa-fw fa-info"></i>
      <span><%= lingua.oldal_testreszabasa %></span>
    </a>
  </li>
  <% } %> <% if(logged == 0){ %>
  <li class="nav-item <%= path === '/important' ? 'active' : '' %>">
    <a class="nav-link" href="/important">
      <i class="fas fa-fw fa-info"></i>
      <span><%= lingua.regisztracio_elonyei %></span>
    </a>
  </li>
  <li class="nav-item <%= path === '/autentificare/login' ? 'active' : '' %>">
    <a class="nav-link" href="/autentificare/login">
      <i class="fas fa-fw fa-user-alt"></i>
      <span><%= lingua.belepes %></span>
    </a>
  </li>
  <% } %>
</ul>
