<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid upload-details">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-title">
              <h6>
                <%= lingua.kategoria_bejeloles %>
              </h6>
            </div>
          </div>
        </div>

        <script>
          $(document).ready(function () {
            $(".statusCategory-checkbox").click(function () {
              var extraId = $(this).attr("data-categoryId");
              if ($(this).is(":checked")) {
                $(".statusCategory-" + extraId).val("on");
              } else {
                $(".statusCategory-" + extraId).val("off");
              }
            });
          });
        </script>
        <% for (let i = 0; i < activeSwitch.length; i++) { %> <% if
        (activeSwitch[i].active == 1) { %>
        <script>
          $(document).ready(function () {
            $("#save").click(function () {
              $("#saveMessage").show("slow");
            });

            var activeCheckbox = "<%= activeSwitch[i].categoryId %>";
            $(".statusCategory-checkbox-" + activeCheckbox).prop(
              "checked",
              true
            );
            $(".statusCategory-" + activeCheckbox).val("on");
          });
        </script>
        <% } %> <% } %>

        <form
          name="myForm"
          class="ms-content-wrapper"
          action="/action/edit-categories"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <% for (let i=0; i < categories.length; i++ ) { %>
                  <input
                    type="hidden"
                    value="<%= categories[i].id %>"
                    name="categoryId"
                  />
                  <input
                    type="hidden"
                    value="off"
                    class="statusCategory-<%= categories[i].id %> status-hidden-box"
                    name="statusCategory[<%= categories[i].id %>]"
                  />

                  <div class="form-check form-switch">
                    <input
                      class="form-check-input statusCategory-checkbox statusCategory-checkbox-<%= categories[i].id %>"
                      type="checkbox"
                      id="flexSwitchCheckDefault<%= categories[i].id %>"
                      data-categoryId="<%= categories[i].id %>"
                    />

                    <label
                      style="font-size: 14px !important;"
                      class="form-check-label"
                      for="flexSwitchCheckDefault<%= categories[i].id %>"
                      ><%= categories[i].CategoryTranslations[0].name %></label
                    >
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div
            style="display: none;"
            class="alert alert-success"
            id="saveMessage"
            role="alert"
          >
            <%= lingua.sikeresen_mentve %>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button
                id="save"
                type="submit"
                class="btn btn-success border-none"
              >
                <%= lingua.mentes %>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
>
