<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid upload-details">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-title">
              <h6><%= lingua.hirportal_bejeloles %></h6>
            </div>
          </div>
        </div>
        <script>
          $(document).ready(function () {
            $("#save").click(function () {
              $("#saveMessage").show("slow");
            });
            $(".statusChannel-checkbox").click(function () {
              console.log("dasd");
              var extraId = $(this).attr("data-channelId");
              if ($(this).is(":checked")) {
                $(".statusChannel-" + extraId).val("on");
              } else {
                $(".statusChannel-" + extraId).val("off");
              }
            });
          });
        </script>
        <% for (let i = 0; i < activeSwitch.length; i++) { %> <% if
        (activeSwitch[i].active == 1) { %>
        <script>
          $(document).ready(function () {
            var activeCheckbox = "<%= activeSwitch[i].sourceId %>";
            $(".statusChannel-checkbox-" + activeCheckbox).prop(
              "checked",
              true
            );
            $(".statusChannel-" + activeCheckbox).val("on");
          });
        </script>
        <% } %> <% } %>
        <form
        name="myForm"
        class="ms-content-wrapper"
        action="/action/edit-channels"
        method="POST"
        enctype="multipart/form-data"
      >
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <% for (let i=0; i < channels.length; i++ ) { %>
                    <input
                    type="hidden"
                    value="<%= channels[i].id %>"
                    name="channelId"
                  />
                  <input
                  type="hidden"
                  value="off"
                  class="statusChannel-<%= channels[i].id %> status-hidden-box"
                  name="statusChannel[<%= channels[i].id %>]"
                />

                  <div class="form-check form-switch">
                    <input
                      class="form-check-input statusChannel-checkbox statusChannel-checkbox-<%= channels[i].id %>"
                      type="checkbox"
                      id="flexSwitchCheckDefault<%= channels[i].id %>"
                      data-channelId="<%= channels[i].id %>"
                    />

                    <label
                      style="font-size: 14px !important;"
                      class="form-check-label"
                      for="flexSwitchCheckDefault<%= channels[i].id %>"
                      ><%= channels[i].name %></label
                    >
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div
          style="display: none;"
          class="alert alert-success"
          id="saveMessage"
          role="alert"
        >
        <%= lingua.sikeresen_mentve %>
        </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <button type="submit" id="save" class="btn btn-success border-none">
                <%= lingua.save %>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->

  <%- include('../shared/logout.ejs') %>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
>
