<%- include('../includes/head.ejs') %>
<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid upload-details">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-title">
              <h6><%= lingua.fiok_torlese %></h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">E-mail </label>
              <input
                class="form-control border-form-control"
                value="<%= user.email %>"
                placeholder="Osahan"
                type="email"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-right">
            <button
              data-toggle="modal"
              data-target="#deleteAccModal"
              type="submit"
              class="btn btn-danger border-none"
            >
              <%= lingua.fiok_torlese %>
            </button>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="deleteAccModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteAccountModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountModal">
            <%= lingua.biztos_torlod_a_fiokodat %>
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <%= lingua.ez_a_muvelet_nem_visszafordithato %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            <%= lingua.megse %>
          </button>
          <form action="/autentificare/delete-account" method="post">
            <button class="btn btn-primary" type="submit">
              <%= lingua.fiok_torlese %>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
