<aside
  id="ms-side-nav"
  class="side-nav fixed ms-aside-scrollable ms-aside-left"
>
  <div class="logo-sn ms-d-block-lg">
    <a class="pl-0 ml-0 text-center" href="/admin/dashboard">
      <img src="/img/foodnet.jpg" alt="foodnet.ro" />
    </a>
  </div>
  <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
    <li class="menu-item">
      <a href="/admin/orders">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.orders %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/products">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.products %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/daily-menu">
        <span><i class="fa fa-tasks fs-16"></i>Napi menü</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/variant-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.variant %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/extra-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.extras %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/category-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.categories %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/allergen-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.allergens %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/box-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.box %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/edit-delivery-price">
        <span><i class="fa fa-tasks fs-16"></i>Kiszállítás</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/property-index">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.properties %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/deleted-pr">
        <span
          ><i class="fa fa-tasks fs-16"></i><%=lingua.deleted_products%></span
        >
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/dashboard">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.dashboard %></span>
      </a>
    </li>
  </ul>
</aside>
