<%- include('../includes/head.ejs') %>
<body class="color-theme-pink">
  <div class="page single single-1 no-navbar" data-name="single">
    <div class="page-content">
      <img class="cover-image" src=" <%= article.imageUrl %>" alt="" />
      <div class="block article">
        <div class="post-infos">
          <div class="post-category"><%= categoryName %></div>
          <div class="post-date">2 hours ago</div>
        </div>
        <h1>
          <%= article.title %>
        </h1>
      </div>
      <form
        action="/action/save-article"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="block">
          <input hidden name="articleId" value="<%= article.id %>" />
          <button type="submit" class="btn btn-primary">
            Cikk elolvasása
          </button>
        </div>
      </form>
      <div class="block">
        <div class="title-medium-container">
          <h2>Ha tetszett oszd meg!</h2>
        </div>
        <div class="social-buttons">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themeforest.net"
            target="_blank"
            class="big-button link facebook external"
            ><i class="f7-icons">logo_facebook</i>Facebook</a
          >
          <a
            href="http://twitter.com/share?text=Welcome%20To%20Yui&url=http://themeforest.net&hashtags=template,mobile"
            target="_blank"
            class="big-button link twitter external"
            ><i class="f7-icons">logo_twitter</i>Twitter</a
          >
        </div>
      </div>

      <div id="commentSection" class="block">
        <div class="title-medium-container">
          <h2>Vélemények</h2>
        </div>

        <div class="list media-list comment-list no-hairlines">
          <ul>
            <% for (let i=0; i < comments.length; i++ ) { %>
            <li>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title"><%= comments[i].User.name %></div>
                  <!-- <div class="item-after">
                    <i class="f7-icons">heart_fill</i>27
                  </div> -->
                </div>
                <div class="item-text">
                  <%= comments[i].comment %>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </div>

        <% if(logged == 1){ %>
        <div class="title-medium-container title-small">
          <h2>Írj véleményt a cikkről</h2>
        </div>

        <script>
          $(document).ready(function () {
            $(".sendacomment").click(function () {
              var articleId = $("#articleId").val();
              var comment = $("#comment").val();
              console.log(articleId);
              console.log(comment);

              return $.ajax({
                url: "http://localhost:3000/action/send-comment",
                type: "POST",
                data: {
                  articleId: articleId,
                  comment: comment,
                },
              })
                .done(function (data) {
                  if (data.success == "ok") {
                    $("#refresh").html(div);
                  } else {
                    // show errors.
                  }
                })
                .fail(function () {
                  console.log("error");
                })
                .always(function () {
                  console.log("complete");
                });
            });
          });
        </script>

        <input
          hidden
          id="articleId"
          name="articleId"
          value="<%= article.id %>"
        />
        <div class="list no-hairlines custom-form">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <textarea
                    name="comment"
                    class="resizable"
                    placeholder="Comment"
                    id="comment"
                  ></textarea>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button
          type="submit"
          class="sendacomment big-button button button-fill link"
        >
          <i class="f7-icons">paperplane_fill</i>Hozzászólás küldése
        </button>

        <% } %>
      </div>
    </div>
    <% if(logged == 0){ %>
    <a href="/auth/signup">
      <div class="link-block promo-banner">
        <div class="link-infos">
          <div class="link-title">
            Regisztrálj hogy testreszabhasd az oldalt
          </div>
          <div class="link-url">
            Egyéni beállítások, Kedvenc kategóriák, E-mail értesítés,
            Hozzászólás küldés
          </div>
        </div>
      </div>
    </a>
    <% } %>
    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
      <div class="toolbar-inner">
        <a href="/" class="tab-link">
          <i class="f7-icons">list_bullet</i>
          <span class="tabbar-label">Hírek</span>
        </a>
        <a href="/categorii" class="tab-link">
          <i class="f7-icons">square_grid_2x2_fill</i>
          <span class="tabbar-label">Kategóriák</span>
        </a>
        <a href="/channels" class="tab-link">
          <i class="f7-icons">person_2_alt</i>
          <span class="tabbar-label">Hírcsatornák</span>
        </a>
        <a href="/top" class="tab-link">
          <i class="f7-icons">text_badge_star</i>
          <span class="tabbar-label">Top hírek</span>
        </a>
        <% if(logged == 1){ %>
        <a href="/profile" class="tab-link">
          <i class="f7-icons">person_crop_circle</i>
          <span class="tabbar-label">Profil</span>
        </a>
        <% } else{ %>
        <a href="/autentificare/login" class="tab-link">
          <i class="f7-icons">person_crop_circle</i>
          <span class="tabbar-label">Bejelentkezés</span>
        </a>
        <% } %>
      </div>
    </div>
  </div>

  <%- include('../includes/end.ejs') %>
</body>
