<%- include('../includes/head.ejs') %>
<body class="color-theme-pink">
  <div class="page single single-1 no-navbar" data-name="single">
    <div class="page-content">
      <img class="cover-image" src=" <%= article.imageUrl %>" alt="" />
      <div class="block article">
        <div class="post-infos">
          <div class="post-category"><%= categoryName %></div>
          <div class="post-date">2 hours ago</div>
        </div>
        <h1>
          <%= article.title %>
        </h1>
      </div>
      <form
        action="/action/save-article"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="block">
          <input hidden name="articleId" value="<%= article.id %>" />
          <button type="submit" class="btn btn-primary">
            Cikk elolvasása
          </button>
        </div>
      </form>
      <div class="block">
        <div class="title-medium-container">
          <h2>Ha tetszett oszd meg!</h2>
        </div>
        <div class="social-buttons">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themeforest.net"
            target="_blank"
            class="big-button link facebook external"
            ><i class="f7-icons">logo_facebook</i>Facebook</a
          >
          <a
            href="http://twitter.com/share?text=Welcome%20To%20Yui&url=http://themeforest.net&hashtags=template,mobile"
            target="_blank"
            class="big-button link twitter external"
            ><i class="f7-icons">logo_twitter</i>Twitter</a
          >
        </div>
      </div>

      <div class="block">
        <div class="title-medium-container">
          <h2>Vélemények</h2>
        </div>

        <div class="list media-list comment-list no-hairlines">
          <ul>
            <% for (let i=0; i < comments.length; i++ ) { %>
            <li>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title"><%= comments[i].User.name %></div>
                  <!-- <div class="item-after">
                    <i class="f7-icons">heart_fill</i>27
                  </div> -->
                </div>
                <div class="item-text">
                  <%= comments[i].comment %>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </div>

        <% if(logged == 1){ %>
        <div class="title-medium-container title-small">
          <h2>Írj véleményt a cikkről</h2>
        </div>
        <form
          id="createProperty_form"
          class="ms-content-wrapper"
          action="/action/send-comment"
          method="POST"
          enctype="multipart/form-data"
        >
          <input hidden name="articleId" value="<%= article.id %>" />
          <div class="list no-hairlines custom-form">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-input-wrap">
                    <textarea
                      name="comment"
                      class="resizable"
                      placeholder="Comment"
                    ></textarea>
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button type="submit" class="big-button button button-fill link">
            <i class="f7-icons">paperplane_fill</i>Hozzászólás küldése
          </button>
        </form>
        <% } %>
      </div>
    </div>
    <%- include('../includes/navigation.ejs') %>
  </div>

  <%- include('../includes/end.ejs') %>
</body>
