<%- include('../includes/head.ejs') %>
   <body id="page-top">
      <%- include('../includes/navbar.ejs') %>
      <div id="wrapper">
         <!-- Sidebar -->
         <%- include('../shared/menu.ejs') %>
         
         <div id="content-wrapper">
            
            <div class="container-fluid pb-0">
               

             
               <div class="video-block-right-list section-padding">
                  <div class="row mb-4">
                   
                  <div class="col-md-8">
                       <div class="single-video box p-0 overflow-hidden bg-dark">
                              <img width="100%" height="285" src="<%= article.imageUrl %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                  </div>
                
               
                  </div>
               </div>
            
          
               <div class="video-block section-padding">
                  <div class="row">
                   
                
                     <div class="col-md-8">
                        <div class="single-video-left">
                           <div class="single-video-title box mb-3"> <div class="float-right">
                              <form
                              action="/action/save-article"
                              method="POST"
                              enctype="multipart/form-data" target="_blank"
                                > 
                              <button  onclick="window.open='<%= article.link %>'" target="_blank" class="btn btn-danger" type="submit">Cikk elolvasása
                               </button> 
                               <input hidden name="articleId" value="<%= article.id %>" />
                              </form>
                              </div>
                              <h2><%= article.title %></a></h2>
                              <!-- <p class="mb-0"><i class="fas fa-eye"></i> <%= article.clicked %> megtekintés</p> -->
                         
                           </div>
                    
                           <div class="single-video-info-content box mb-3"> 
                              <h6><%= lingua.hirportal %></h6>
                              <p><%= article.Source.name %></p>
                              <h6><%= lingua.kategoria %></h6>
                              <p><%= article.Category.CategoryTranslations[0].name %></p>
                             
                           </div>
                          
                        </div>
                     </div>
                  
                   
                    
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
         </div>
       
         <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <%- include('../shared/logout.ejs') %>
      <!-- Bootstrap core JavaScript-->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Owl Carousel -->
      <script src="/vendor/owl-carousel/owl.carousel.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="/js/custom.js"></script>
   </body>
</html>