<%- include('../includes/head.ejs') %>
<body class="color-theme-pink framework7-root">

  <div id="view-categories" class="view tab view-main">
    <div class="page author" data-name="author">
        <div class="page-content" style="padding-top: 2px !important;">
          
          
          <div class="block">
           
           
          
            <div class="title-medium-container title-with-link">
                
              <h2><%= categoryNameView %> hírek</h2>
            </div>
            <ul class="list media-list post-list">
                <% for (let i=0; i < articles.length; i++ ) { %>
                 
              <li>
                <a href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl%>/<%= articles[i].seoUrl %>">
                  <div class="item-content">
                    <div class="item-media"><img src="<%= articles[i].imageUrl %>" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Test</div>
                      <div class="item-title"><%= articles[i].title %></div>
                      <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>2 hours ago</div>
                    </div>
                  </div>
                </a>
              </li>
             
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      
    <%- include('../includes/navigation.ejs') %>

 
  <%- include('../includes/end.ejs') %>
