<%- include('../includes/head.ejs') %>
<body class="color-theme-pink">

  <div id="view-search" class="view tab">
    <div data-name="search" class="page no-navbar">
      <div class="page-content page-search">
        <div class="searchbar-backdrop"></div>
        <div class="block searchbar-container">
          <div class="title-container">
            <h1>Cikk keresése</h1>
          </div>
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Írd be a cikk nevét" />
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">Cancel</span>
            </div>
          </form>
        </div>
        <div class="block search-container">
          <div class="searchbar-hide-on-search">
            <h2>Popular Categories</h2>
            <ul class="popular-tags">
              <li>
                <a href="#" class="link"
                  ><span>Politics</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
              <li>
                <a href="#" class="link"
                  ><span>Sports</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
              <li>
                <a href="#" class="link"
                  ><span>Fashion</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
              <li>
                <a href="#" class="link"
                  ><span>Animals</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
              <li>
                <a href="#" class="link"
                  ><span>Travel</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
              <li>
                <a href="#" class="link"
                  ><span>Movies</span><i class="f7-icons">chevron_right</i></a
                >
              </li>
            </ul>
            <h2>Legfrisebb cikkek</h2>
          
          </div>
         
        </div>
        <div class="page-content">
          <div class="block">
            <ul class="list media-list post-list">
              
              <% for (let i=0; i < articles.length; i++ ) { %>
                <% for (let k=0; k < articles[i].Source.Articles.length; k++ ) { %>
              <li>
                <a href="/"><img src="">
                  <div class="item-content">
                    <div class="item-media"><img src="<%= articles[i].Source.Articles[k].imageUrl %>" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle"><%= articles[i].Source.name %></div>
                      <div class="item-title"><%= articles[i].Source.Articles[k].title %></div>
                      <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                    </div>
                  </div>
                </a>
              </li>
              <% } %>
              <% } %>
            
            </ul>
          </div>
        </div>
        
      </div>
    </div>
     <%- include('../includes/end.ejs') %>
  </div>
 
  <%- include('../includes/end.ejs') %>
</body>
