<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>

  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="video-block section-padding">
          <div class="row">
            <%- include('../shared/bestArticles.ejs') %>

            <div class="col-md-12">
              <div class="main-title">
                <h6><%= lingua.hirek %></h6>
              </div>
            </div>

            <% for (let i=0; i < articles.length; i++ ) { %>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card history-video">
                <div class="video-card-image">
                  <a
                    class="play-icon"
                    href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                  ></a>
                  <a
                    href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                    ><img
                      class="img-fluid"
                      src="<%= articles[i].imageUrl %>"
                      alt=""
                      style="
                        max-height: 150px !important;
                        min-height: 150px !important;
                      "
                  /></a>
                </div>

                <div class="video-card-body">
                  <div class="video-title">
                    <a
                      href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                    >
                      <% if( articles[i].title.length > 160){ %> <%=
                      articles[i].title.substring(0, 160) + "..." %> <% } else{
                      %> <%= articles[i].title %> <% } %></a
                    >
                  </div>
                  <div class="video-item-user">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="/<%= articles[i].Source.imageUrl %>"
                          alt=""
                        />
                      </div>
                      <div class="font-weight-bold mr-2">
                        <div class="text-truncate">
                          <%= articles[i].Source.name %>
                        </div>
                        <div class="small text-gray-500">
                          <%= articles[i].Category.CategoryTranslations[0].name
                          %> - <%= articles[i].createdAt.toLocaleString("en-GB",
                          { timeZone: "Europe/Helsinki" }); %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% if ( articles.length > 1 ) { %> <%-
          include('../shared/pagination.ejs') %> <% } %>

          <div class="top-category section-padding mb-0">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title mb-4">
                  <h6><%= lingua.hirportalok %></h6>
                </div>
              </div>
              <div class="col-md-12">
                <div class="owl-carousel owl-carousel-category">
                  <% for (let i=0; i < sources.length; i++ ) { %>
                  <div class="item">
                    <div
                      class="text-center bg-white shadow-sm p-4 rounded channel-item"
                    >
                      <a href="/channels/<%= sources[i].seoUrl %>">
                        <div class="channel-item-image mb-3">
                          <img
                            class="rounded-circle"
                            src="/<%= sources[i].imageUrl %>"
                            alt=""
                          />
                        </div>

                        <div class="channel-item-body">
                          <p class="mb-1">
                            <%= sources[i].name %>
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>

  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript--><!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
