<%- include('../includes/head.ejs') %>


<body class="color-theme-pink">
  <%- include('../includes/logo.ejs') %>



  
  <div id="view-search" class="view tab">
    <div data-name="search" class="page no-navbar">
      <div class="page-content page-search">
        <div class="searchbar-backdrop"></div>
        <div class="block searchbar-container">
          <div class="title-container">
            <h1>Cikk keresése</h1>
          </div>
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Írd be a cikk nevét" />
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">Cancel</span>
            </div>
          </form>
        </div>
        <div class="block search-container">
          <div class="searchbar-hide-on-search">
            <% if(logged == 1){ %>
            <h2>Kedvelt kategóriáid</h2>
            <% } else{ %> <h2>Popular Categories</h2> <% } %>
            <ul class="popular-tags">
              <% if(logged == 1){ %>
              <% for (let i=0; i < categories.length; i++ ) { %>
              <li>
                <a href="/stiri/<%= categories[i].Category.seoUrl %>" class="link"
                  ><span><%= categories[i].Category.CategoryTranslations[0].name %></span><i class="f7-icons">chevron_right</i></a>
                </li>
                <% } %><% } else{ %>
                  <% for (let i=0; i < categories.length; i++ ) { %>
                    <li>
                      <a href="/stiri/<%= categories[i].seoUrl %>" class="link"
                        ><span><%= categories[i].CategoryTranslations[0].name %></span><i class="f7-icons">chevron_right</i></a>
                      </li>
                      <% } %>
                <% } %>
            </ul>
           
            <h2>Legfrisebb cikkek</h2>  
          
          </div>
         
        </div>
        <div class="page-content">
          <div class="block">
            <ul class="list media-list post-list">
              <% if(logged == 1){ %>
                <% for (let i=0; i < articles.length; i++ ) { %>
                  <%if (articles[i].Source !== null) { %>
                    <% for (let j=0; j < articles[i].Source.Articles.length; j++ ) { %>
                      <li>
                        <a href="/stiri/<%= articles[i].Source.Articles[j].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].Source.Articles[j].seoUrl %>"><img src="">
                          <div class="item-content">
                            <div class="item-media"><img src="<%= articles[i].Source.Articles[j].imageUrl %>" alt=""></div>
                            <div class="item-inner">
                              <div class="item-subtitle"><%= articles[i].Source.name %></div>
                              <div class="item-title"><%= articles[i].Source.Articles[j].title %></div>
                              <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                            </div>
                          </div>
                        </a>
                      </li>
               <% } %>
               <% } %>
               <% } %>
              <% } else{ %>  
                <% for (let i=0; i < articles.length; i++ ) { %> 
                  <li>
                    <a href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"><img src="">
                      <div class="item-content">
                        <div class="item-media"><img src="<%= articles[i].imageUrl %>" alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle"><%= articles[i].Source.name %></div>
                          <div class="item-title"><%= articles[i].title %></div>
                          <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <% } %>
             <% } %>
              
            
            </ul>
          </div>
        </div>
        
      </div>
    </div>
     <%- include('../includes/end.ejs') %>
  </div>
 
  <%- include('../includes/end.ejs') %>
</body>
