<%- include('../includes/head.ejs') %>
<body class="color-theme-pink">

  <div id="view-search" class="view tab">
    <div data-name="search" class="page no-navbar">
      <div class="page-content page-search">
        <div class="searchbar-backdrop"></div>
        <div class="block searchbar-container">
          <div class="title-container">
            <h1>Cikk keresése</h1>
          </div>
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Írd be a cikk nevét" />
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">Cancel</span>
            </div>
          </form>
        </div>
        <div class="block search-container">
          <div class="searchbar-hide-on-search">
            <h2>Popular Categories</h2>
            <ul class="popular-tags">
            
             
            </ul>
            <h2>Legfrisebb cikkek</h2>
          
          </div>
         
        </div>
        <div class="page-content">
          <div class="block">
            <ul class="list media-list post-list">
              <% if(logged == 1){ %>
                <% for (let i=0; i < articles.length; i++ ) { %> 
                <li>
                  <a href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].seoUrl %>/<%= articles[i].title %>"><img src="">
                    <div class="item-content">
                      <div class="item-media"><img src="<%= articles[i].imageUrl %>" alt=""></div>
                      <div class="item-inner">
                        <div class="item-subtitle"><%= articles[i].Source.name %></div>
                        <div class="item-title"><%= articles[i].title %></div>
                        <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                      </div>
                    </div>
                  </a>
                </li>
                <% } %>
              <% } else{ %>  
                <% for (let i=0; i < articles.length; i++ ) { %> 
                  <li>
                    <a href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].seoUrl %>/<%= articles[i].title %>"><img src="">
                      <div class="item-content">
                        <div class="item-media"><img src="<%= articles[i].imageUrl %>" alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle"><%= articles[i].Source.name %></div>
                          <div class="item-title"><%= articles[i].title %></div>
                          <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <% } %>
             <% } %>
              
            
            </ul>
          </div>
        </div>
        
      </div>
    </div>
     <%- include('../includes/end.ejs') %>
  </div>
 
  <%- include('../includes/end.ejs') %>
</body>
