<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>

  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-home"></i>
          <span>Hírek</span>
        </a>
      </li>
      <% if(logged == 1){ %>
      <li class="nav-item">
        <a class="nav-link" href="/stiri-configurate">
          <i class="fas fa-fw fa-cogs"></i>
          <span>Beállított hírek</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profile/history">
          <i class="fas fa-fw fa-history"></i>
          <span>Előzmények</span>
        </a>
      </li>
      <% } %>

      <li class="nav-item">
        <a class="nav-link" href="/channels">
          <i class="fas fa-fw fa-users"></i>
          <span>Hírportálok</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorii">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>Kategóriák</span>
        </a>
      </li>
      <% if(logged == 1){ %>
      <li class="nav-item">
        <a class="nav-link" href="/help">
          <i class="fas fa-fw fa-info"></i>
          <span>Oldal testreszabása</span>
        </a>
      </li>
      <% } %> <% if(logged == 0){ %>
      <li class="nav-item">
        <a class="nav-link" href="/important">
          <i class="fas fa-fw fa-info"></i>
          <span>Regisztráció előnyei</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/autentificare/login">
          <i class="fas fa-fw fa-user-alt"></i>
          <span>Belépés</span>
        </a>
      </li>
      <% } %>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="video-block section-padding">
          <div class="row">
            <%- include('../shared/bestArticles.ejs') %>

            <div class="col-md-12">
              <div class="main-title">
                <h6>Legfrisebb hírek</h6>
              </div>
            </div>

            <% for (let i=0; i < articles.length; i++ ) { %>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card history-video">
                <div class="video-card-image">
                  <a
                    class="play-icon"
                    href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                  ></a>
                  <a
                    href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                    ><img
                      class="img-fluid"
                      src="<%= articles[i].imageUrl %>"
                      alt=""
                  /></a>
                </div>

                <div class="video-card-body">
                  <div class="video-title">
                    <a
                      href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                    >
                      <% if( articles[i].title.length > 160){ %> <%=
                      articles[i].title.substring(0, 160) + "..." %> <% } else{
                      %> <%= articles[i].title %> <% } %></a
                    >
                  </div>
                  <div class="video-item-user">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="/<%= articles[i].Source.imageUrl %>"
                          alt=""
                        />
                      </div>
                      <div class="font-weight-bold mr-2">
                        <div class="text-truncate">
                          <%= articles[i].Source.name %>
                        </div>
                        <div class="small text-gray-500">
                          <%= articles[i].Category.CategoryTranslations[0].name
                          %> - 45 perce
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% if ( articles.length > 1 ) { %> <%-
          include('../shared/pagination.ejs') %> <% } %>

          <div class="top-category section-padding mb-0">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title mb-4">
                  <h6>Hírportálok</h6>
                </div>
              </div>
              <div class="col-md-12">
                <div class="owl-carousel owl-carousel-category">
                  <% for (let i=0; i < sources.length; i++ ) { %>
                  <div class="item">
                    <div
                      class="text-center bg-white shadow-sm p-4 rounded channel-item"
                    >
                      <a href="/channels/<%= sources[i].seoUrl %>">
                        <div class="channel-item-image mb-3">
                          <img
                            class="rounded-circle"
                            src="/<%= sources[i].imageUrl %>"
                            alt=""
                          />
                        </div>

                        <div class="channel-item-body">
                          <p class="mb-1">
                            <%= sources[i].name %>
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->

      <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>

  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Biztos kijelentkezel?
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Mégse
          </button>
          <form action="/autentificare/logout" method="post">
            <button class="btn btn-primary" type="submit">Kijelentkezés</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript--><!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
