<%- include('../includes/head.ejs') %>
<div
  data-name="categories2"
  class="page page-categorylayout no-navbar no-toolbar"
>
  <form
    method="POST"
    action="/add-favourite-category"
    enctype="multipart/form-data"
  >
    <div class="page-content">
      <div class="back-nav-header">
        <div class="first-blok"></div>
        <div class="mid-block"></div>
        <div class="last-block skip"></div>
      </div>

      <div class="block select-interests">
        <h2 class="heading-c1 margin-bottom1">
          Válaszd ki, hogy milyen hír kategóriákat szeretnél látni!
        </h2>
        <div class="hight-100">
          <div class="block-container" id="bchips">
            <% for (let i=0; i < categories.length; i++ ) { %>
            <input hidden name="allCat" value="<%= categories[i].id %>" />
            <script>
              $(document).ready(function () {
                $(".test<%= categories[i].id %>").click(function () {
                  var categoryId = $(this).attr("data-categoryId");
                  if (
                    $(".addActive<%= categories[i].id %>").hasClass(
                      "current-click"
                    )
                  ) {
                    $(".addActive<%= categories[i].id %>").removeClass(
                      "current-click"
                    );

                    $(".statusCategory-" + categoryId).val("off");
                  } else {
                    $(".addActive<%= categories[i].id %>").addClass(
                      "current-click"
                    );
                    $(".statusCategory-" + categoryId).val("on");
                  }
                });
              });
            </script>

            <div
              data-categoryId="<%= categories[i].id %>"
              class="chip test<%= categories[i].id %>"
              value="<%= categories[i].id %>"
              id="categoryId"
            >
              <input
                type="hidden"
                value="off"
                class="statusCategory-<%= categories[i].id %>"
                name="categoryId[<%= categories[i].id %>]"
              />
              <div class="chip-label addActive<%= categories[i].id %>">
                <%= categories[i].CategoryTranslations[0].name %>
              </div>
            </div>
            <% } %>
          </div>

          <div class="save-interests-btn">
            <button
              class="dark-button button item-content item-link card-scale scaleffect"
              type="submit"
            >
              Mentés
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
