<%- include('../includes/head.ejs') %>
<div
  data-name="channels2"
  class="page page-categorylayout no-navbar no-toolbar"
>
  <form
    method="POST"
    action="/add-favourite-channel"
    enctype="multipart/form-data"
  >
    <div class="page-content">
      <div class="back-nav-header">
        <div class="first-blok"></div>
        <div class="mid-block"></div>
        <div class="last-block skip"></div>
      </div>

      <div class="block select-interests">
        <h2 class="heading-c1 margin-bottom1">
          Válaszd ki, hogy melyik hírportálról szeretnél híreket látni!
        </h2>
        <div class="hight-100">
          <div class="block-container" id="bchips">
            <% for (let i=0; i < channels.length; i++ ) { %>
            <input hidden name="channelId" value="<%= channels[i].id %>" />
            <script>
              $(document).ready(function () {
                $(".test<%= channels[i].id %>").click(function () {
                  var categoryId = $(this).attr("data-categoryId");
                  if (
                    $(".addActive<%= channels[i].id %>").hasClass(
                      "current-click"
                    )
                  ) {
                    $(".addActive<%= channels[i].id %>").removeClass(
                      "current-click"
                    );

                    $(".statusCategory-" + categoryId).val("off");
                  } else {
                    $(".addActive<%= channels[i].id %>").addClass(
                      "current-click"
                    );
                    $(".statusCategory-" + categoryId).val("on");
                  }
                });
              });
            </script>

            <div
              data-categoryId="<%= channels[i].id %>"
              class="chip test<%= channels[i].id %>"
              value="<%= channels[i].id %>"
              id="categoryId"
            >
              <input
                type="hidden"
                value="off"
                class="statusCategory-<%= channels[i].id %>"
                name="categoryId[<%= channels[i].id %>]"
              />
              <div class="chip-label addActive<%= channels[i].id %>">
                <%= channels[i].name %>
              </div>
            </div>
            <% } %>
          </div>

          <div class="save-interests-btn">
            <button
              class="dark-button button item-content item-link card-scale scaleffect"
              type="submit"
            >
              Mentése
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<%- include('../includes/end.ejs') %>
