<%- include('../includes/head.ejs') %>
<body id="page-top">
   <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    
     <!-- Sidebar -->
     <%- include('../shared/menu.ejs') %>
    
     <div class="single-channel-page" id="content-wrapper">
     
        <div class="single-channel-image">
           <img class="img-fluid" style="max-height: 340px !important" alt="" src="/img/cover.jpeg">
           <div class="channel-profile">
              <img class="channel-profile-img" alt="" src="/<%= source.imageUrl %> ">
             
           </div>
        </div>
        
        <div class="single-channel-nav">
           <nav class="navbar navbar-expand-lg navbar-light">
              <a class="channel-brand" href="#"><%= source.name %> 
                <% if (logged==1 && followedSource.active == 1) { %> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></a> <% } %>
                
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                  <% for (let i=0; i < primaryCategories.length; i++ ) { %>
                    <li class="nav-item">
                       <a class="nav-link" href="/channels/<%= primaryCategories[i].Source.seoUrl %>/<%= primaryCategories[i].Category.seoUrl %>"><%= primaryCategories[i].Category.CategoryTranslations[0].name %></a>
                    </li>
                    <% } %>
                    <% if (secondaryategories.length > 1 ) { %>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= lingua.tobb %>
                      </a>
                     
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% for (let i=0; i < secondaryategories.length; i++ ) { %>
                         <a class="dropdown-item" href="/channels/<%= secondaryategories[i].Source.seoUrl %>/<%= secondaryategories[i].Category.seoUrl %>"><%= secondaryategories[i].Category.CategoryTranslations[0].name %></a>
                         <% } %>
                        
                      </div>
                   </li>
                   <% } %>
                   
                 </ul>
                 <% if (logged==1 ) { %>
                 <% if(followedSource.active == 0 ){ %>
                
                  <form  action="/channels/follow-source"
                 enctype="multipart/form-data"
                 method="POST" class="form-inline my-2 my-lg-0">
                   <input hidden value="<%= source.id %>" name="sourceId"/>
                   <input hidden value="<%= channelName %>" name="channelName"/>
                   <button class="btn btn-outline-danger btn-sm" id="follow" type="submit"><%= lingua.kovetem %></button>
                 </form>
                <% } else{ %>  
                 
                  <form  action="/channels/unfollow-source"
                  enctype="multipart/form-data"
                  method="POST" class="form-inline my-2 my-lg-0">
                    <input hidden value="<%= source.id %>" name="sourceId"/>
                    <input hidden value="<%= channelName %>" name="channelName"/>
                    <button class="btn btn-outline-danger btn-sm" id="unfollow" type="submit"><%= lingua.nem_kovetem %></button>
                  </form>
               <% } %>
               <% } %>
              </div>
              <div  style="display: none; right: 0px;margin-top: 14px;margin-left: 10px;" class="alert alert-success" id="bekovet" role="alert">
                <%= lingua.sikeres_kovetes %>
             </div>
             <div style=" display: none; right: 0px;margin-top: 14px;margin-left: 10px;"   class="alert alert-warning" id="kikovet" role="alert">
             <%= lingua.kovetes_leallitasa %>
           </div>
           
              <script>
         $(document).ready(function () {
          $("#unfollow").click(function () {
            $( "#kikovet" ).show("slow");
             
            
           
            

            
            });
           
          });

           $("#follow").click(function () {
            $( "#bekovet" ).show("slow");
              
             
         
            

            
            });
           
       

            </script>
            
           </nav>
        </div>
        <div class="container-fluid">
           <div class="video-block section-padding">
              <div class="row">
                 <div class="col-md-12">
                    <div class="main-title">
                      
                       <h6><%= lingua.hirek %></h6>
                    </div>
                 </div>
              
                 <% for (let i=0; i < articles.length; i++ ) { %>
                  <%if (articles[i].Source !== null) { %>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="video-card history-video">
                          <div class="video-card-image">
                            <a
                              class="play-icon"
                              href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                            ></a>
                            <a
                              href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                              ><img
                                class="img-fluid"
                                src="<%= articles[i].imageUrl %>"
                                alt="" style="
                                max-height: 150px !important;
                                min-height: 150px !important;
                              "
                            /></a>
                          </div>
          
                          <div class="video-card-body">
                            <div class="video-title">
                              <a
                                href="/stiri/<%= articles[i].Category.seoUrl %>/<%= articles[i].Source.seoUrl %>/<%= articles[i].seoUrl %>"
                              >
                                <% if( articles[i].title.length > 160){ %> <%=
                                articles[i].title.substring(0, 160) + "..." %> <% } else{
                                %> <%= articles[i].title %> <% } %></a
                              >
                            </div>
                            <div class="video-item-user">
                              <div class="d-flex align-items-center">
                                <div class="dropdown-list-image mr-3">
                                  <img
                                    class="rounded-circle"
                                    src="/<%= articles[i].Source.imageUrl %>"
                                    alt=""
                                    
                                  />
                                </div>
                                <div class="font-weight-bold mr-2">
                                  <div class="text-truncate">
                                    <%= articles[i].Source.name %>
                                  </div>
                                  <div class="small text-gray-500">
                                    <%= articles[i].Category.CategoryTranslations[0].name
                                    %> -  <%= articles[i].createdAt.toLocaleString("en-GB",
                                    { timeZone: "Europe/Helsinki" }); %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                 <% } %>
                 <% } %>
              </div>
              <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm mb-0">
              <% if (currentPage !== 1 && previousPage !== 1) { %>
              <li class="page-item active">
                <a class="page-link" href="?page=1">1</a>
              </li>
              <% } %> <% if (hasPreviousPage) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= previousPage %>"
                  ><%= previousPage %></a
                >
              </li>
              <% } %>
              <li class="page-item active">
                <a class="page-link" href="?page=<%= currentPage %>"
                  ><%= currentPage %></a
                >
              </li>
              <% if (hasNextPage) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= nextPage %>"
                  ><%= nextPage %></a
                >
              </li>
              <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage)
              { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= lastPage %>"
                  ><%= lastPage %></a
                >
              </li>
              <% } %>
            </ul>
          </nav>
           </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
       
     </div>
     <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
  <% } %> <%- include('../includes/footer.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
</html>