<%- include('../includes/head.ejs') %>

<body class="color-theme-pink framework7-root">
  <div class="page">
   
          <%- include('../includes/logo.ejs') %>

    <div class="page-content" style="padding-top: 5px !important">
      
      <div class="block">
        <h2 style="margin: 25px 0px 15px;">Legfrisebb cikkek</h2> 
        <p>Itt azok a cikkek jelennek meg amelyek után érdeklődésed volt</p> 
      
        <ul class="list media-list post-list">

            <% for (let i=0; i < articles.length; i++ ) { %>
                  <li>
                    <a href="/stiri/<%= articles[i].Article.Category.seoUrl %>/<%= articles[i].Article.Source.seoUrl %>/<%= articles[i].Article.seoUrl %>"><img src="">
                      <div class="item-content">
                        <div class="item-media"><img src="<%= articles[i].Article.imageUrl %>" alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle"><%= articles[i].Article.Source.name %></div>
                          <div class="item-title"><%= articles[i].Article.title %></div>
                          <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i></i>20 min ago</div>
                        </div>
                      </div>
                    </a>
                  </li>
           <% } %>

          
        
        </ul>
      </div>
    </div>
    <div class="toolbar tabbar tabbar-labels toolbar-bottom">
      <div class="toolbar-inner">
        <a href="/" class="tab-link">
          <i class="f7-icons">list_bullet</i>
          <span class="tabbar-label">Hírek</span>
        </a>
        <a href="/categorii" class="tab-link">
          <i class="f7-icons">square_grid_2x2_fill</i>
          <span class="tabbar-label">Kategóriák</span>
        </a>
        <a href="/channels" class="tab-link">
          <i class="f7-icons">person_2_alt</i>
          <span class="tabbar-label">Hírcsatornák</span>
        </a>
        <a href="/top" class="tab-link">
          <i class="f7-icons">text_badge_star</i>
          <span class="tabbar-label">Top hírek</span>
        </a>
        <a href="/profile" class="tab-link tab-link-active">
          <i class="f7-icons">person_crop_circle</i>
          <span class="tabbar-label">Profil</span>
        </a>
      </div>
    </div>
    
  </div>
  
</body>
<%- include('../includes/end.ejs') %>
