<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-home"></i>
          <span><%= lingua.hirek %></span>
        </a>
      </li>
      <% if(logged == 1){ %>
      <li class="nav-item">
        <a class="nav-link" href="/stiri-configurate">
          <i class="fas fa-fw fa-cogs"></i>
          <span><%= lingua.kedvelt_hirek %></span>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-history"></i>
          <span><%= lingua.elozmenyek %></span>
        </a>
      </li>
      <% } %>

      <li class="nav-item">
        <a class="nav-link" href="/channels">
          <i class="fas fa-fw fa-users"></i>
          <span><%= lingua.hirportalok %></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorii">
          <i class="fas fa-fw fa-list-alt"></i>
          <span><%= lingua.kategoriak %></span>
        </a>
      </li>
      <% if(logged == 1){ %>
      <li class="nav-item">
        <a class="nav-link" href="/help">
          <i class="fas fa-fw fa-info"></i>
          <span><%= lingua.oldal_testreszabasa %></span>
        </a>
      </li>
      <% } %> <% if(logged == 0){ %>
      <li class="nav-item">
        <a class="nav-link" href="/important">
          <i class="fas fa-fw fa-info"></i>
          <span><%= lingua.regisztracio_elonyei %></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/autentificare/login">
          <i class="fas fa-fw fa-user-alt"></i>
          <span><%= lingua.belepes %></span>
        </a>
      </li>
      <% } %>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="video-block section-padding">
          <div class="row">
            <%- include('../shared/bestArticles.ejs') %>

            <div class="col-md-12">
              <div class="main-title">
                <h6><%= lingua.megtekintett_cikkek %></h6>
                <% if ( articles.length < 1 ) { %>
                <p>
                  Ma még nem néztél meg egy cikket sem.
                </p>
                <% } %>
              </div>
            </div>

            <% for (let i=0; i < articles.length; i++ ) { %>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card history-video">
                <div class="video-card-image">
                  <a
                    class="play-icon"
                    href="/stiri/<%= articles[i].Article.Category.seoUrl %>/<%= articles[i].Article.Source.seoUrl %>/<%= articles[i].Article.seoUrl %>"
                  ></a>
                  <a
                    href="/stiri/<%= articles[i].Article.Category.seoUrl %>/<%= articles[i].Article.Source.seoUrl %>/<%= articles[i].Article.seoUrl %>"
                    ><img
                      class="img-fluid"
                      src="<%= articles[i].Article.imageUrl %>"
                      alt=""
                      style="
                        max-height: 150px !important;
                        min-height: 150px !important;
                      "
                  /></a>
                </div>
                <div class="video-card-body">
                  <div class="video-title">
                    <a
                      href="/stiri/<%= articles[i].Article.Category.seoUrl %>/<%= articles[i].Article.Source.seoUrl %>/<%= articles[i].Article.seoUrl %>"
                    >
                      <% if( articles[i].Article.title.length > 160){ %> <%=
                      articles[i].Article.title.substring(0, 160) + "..." %> <%
                      } else{ %> <%= articles[i].Article.title %> <% } %></a
                    >
                  </div>
                  <div class="video-item-user">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-list-image mr-3">
                        <img
                          class="rounded-circle"
                          src="/<%= articles[i].Article.Source.imageUrl %>"
                          alt=""
                        />
                      </div>
                      <div class="font-weight-bold mr-2">
                        <div class="text-truncate">
                          <%= articles[i].Article.Source.name %>
                        </div>
                        <div class="small text-gray-500">
                          <%= articles[i].Article.Category.seoUrl %> - 45 perce
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% if ( articles.length > 1 ) { %> <%-
          include('../shared/pagination.ejs') %> <% } %>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Biztos kijelentkezel?
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Mégse
          </button>
          <form action="/autentificare/logout" method="post">
            <button class="btn btn-primary" type="submit">Kijelentkezés</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
