<%- include('../includes/head.ejs') %>
<body id="page-top">

     <!-- Navbar -->
     <%- include('../includes/navbar.ejs') %>

  <div id="wrapper">
     <!-- Sidebar -->
     <%- include('../shared/menu.ejs') %>
     <div id="content-wrapper">
        <div class="container-fluid">
           <div class="video-block section-padding">
              <div class="row">
                 <div class="col-md-12">
                    <div class="main-title">
                       <div class="btn-group float-right right-action">
                          
                          <div class="dropdown-menu dropdown-menu-right">
                             <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                             <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                             <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                          </div>
                       </div>
                       <h6><%= lingua.hirportalok %></h6>
                    </div>
                 </div>
                 <% for (let i=0; i < channels.length; i++ ) { %>
                  <div class="col-xl-3 col-sm-6 mb-3">
                     <div class="channels-card">
                        <div class="channels-card-image" >
                           <a href="/channels/<%= channels[i].seoUrl %>"><img class="img-fluid" src="/<%= channels[i].imageUrl %>" alt=""></a>
                           <div class="channels-card-image-btn"></div>
                        </div>
                        <div class="channels-card-body">
                           <div class="channels-title">
                              <a href="#"><%= channels[i].name %></a>
                           </div>
                           <!-- <div class="channels-view">
                              382,323 subscribers
                           </div> -->
                        </div>
                     </div>
                  </div>
                 
                 <% } %>
              </div>
          
           </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <%- include('../includes/footer.ejs') %>
     </div>
     <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
</html>