<%- include('../includes/head.ejs') %>

<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Contact Us -->
        <section class="section-padding">
          <div>
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <h3 class="mt-1 mb-4"><%= lingua.elerhetoseg %></h3>

                <h6 class="text-dark"><%= lingua.telefonszam %>:</h6>
                <p>+40 753 541 70</p>
                <h6 class="text-dark">E-mail:</h6>
                <p>stirilemele.ro@gmail.com</p>
                <h6 class="text-dark">Web:</h6>
                <p>www.stirilemele.ro</p>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact Us -->
        <hr />
        <!-- Contact Me -->

        <!-- End Contact Me -->
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
