<%- include('../includes/head.ejs') %>
<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar --><style>
table, th, td {
  border: 1px solid black;
}
</style>
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <section class="blog-page section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="card blog mb-4">
                  <div class="card-body">
                    <h5 class="mb-4">
                      Tabel Cookie-uri
                    </h5>
                    <p style="font-size: 14px;">
                      Tabelele de mai jos enumeră câteva cookie-uri interne şi
                      terţe (third-party) pe care le folosim. Pe măsură ce
                      numele, numerele şi scopurile acestor cookie-uri se
                      schimbă, această pagină poate fi actualizată pentru a
                      reflecta aceste modificări. Pentru mai multe informaţii
                      despre modul în care folosim aceste module cookie,
                      consultaţi
                      <a href="/cookie"> Politica noastră de cookie-uri.</a>
                    </p>
                    <!-- <blockquote class="blockquote">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer posuere erat a ante.
                      </p>
                      <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote> -->
                    <!-- <p>
                      Praesent aliquam, enim at fermentum mollis, ligula massa
                      adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce
                      vulputate sem at sapien. Vivamus leo. Aliquam euismod
                      libero eu enim. Nulla nec felis sed leo placerat
                      imperdiet. Aenean suscipit nulla in justo.
                    </p> -->
                    <h5 class="mb-4">
                      Cookie-uri interne
                    </h5>
                    <p style="font-size: 14px;">
                        <table>
                            <tr>
                              <th> Nume Domeniu</th>
                              <th>Scop</th>
                              <th>Valabilitate</th>
                              <th>Mai multe informaţii</th>
                            </tr>
                            <tr>
                              <td>Domeniu</td>
                              <td>Esenţial</td>
                              <td>50 zile</td>
                              <td>Politica de colectare acord cookie</td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>Esenţial</td>
                              <td>2 săptămâni</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>De targetare</td>
                                <td>Variază</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Măsurare</td>
                                <td>Variază</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Funcţionalitate</td>
                                <td>1 zi</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Funcţionalitate</td>
                                <td>1 zi</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Esenţial</td>
                                <td>30 minute</td>
                              </tr>
                          </table>
                          <br /> <br />
                          Cookie-urile interne nu sunt stocate de site-ul nostru. Site-ul nostru nu stochează cookie-uri. El permite stocarea datelor în fişiere de tip cookie în browserul dvs.
Dacă doriţi să gestionaţi ce cookie-uri doriţi să acceptaţi, până la finalizarea implementării noastre, aveţi această opţiune în browserul dvs. Mai multe detalii în <a href="/cookie"> Politica de colectare acord cookie-uri.</a>
                    </p>
                    <h5 class="mb-4">
                        Third-party (terţă-parte) cookies
                    </h5>
                    <p style="font-size: 14px;">
                        <table>
                            <tr>
                              <th>Nume Domeniu</th>
                              <th>Scop</th>
                              <th>Valabilitate</th>
                              <th>Mai multe informaţii</th>
                            </tr>
                            <tr>
                              <td>DoubleClick</td>
                              <td>Partner</td>
                              <td>20 luni</td>
                              <td><a href="https://support.google.com/admanager/answer/2839090?hl=en"> DoubleClick Cookies Policy</a></td>
                            </tr>
                            <tr>
                              <td>Facebook</td>
                              <td>Optimizare</td>
                              <td>3 luni</td>
                              <td><a href="https://www.facebook.com/policies/cookies/"> Facebook Cookies Policy</a></td>
                            </tr>
                            <tr>
                                <td>Google</td>
                                <td>Tracking, Optimizare, Partner</td>
                                <td>20 luni</td>
                                <td><a href="https://policies.google.com/technologies/cookies#managing-cookies"> Google Opt-Out</a></td>
                              </tr>
                          </table>
                          <br /> <br />
                          Cookie-urile third-party nu sunt stocate de site-ul nostru. Site-ul nostru nu stochează cookie-uri. El permite stocarea datelor în fişiere de tip cookie în browserul dvs. Pentru a gestiona ce anume şi cum anume doriţi să trimiteţi datele de cookie către partenerii site-ului nostru, vă rugăm să utilizaţi link-urile puse la dispoziţie în tabelul de mai sus.
                    </p>
                    <h5 class="mb-4">
                        Care sunt opţiunile dvs. privind cookie-urile
                    </h5>
                    <p style="font-size: 14px;">
                        În general, o aplicaţie folosită pentru accesarea paginilor web permite salvarea Cookie-urilor pe terminal în mod implicit.
                        Aceste setări pot fi schimbate în aşa fel încât administrarea automată a Cookie-urilor să fie blocată de browser-ul web sau utilizatorul să fie informat de fiecare dată când Cookie-urile sunt trimise către terminalul său. Informaţii detaliate despre posibilităţile şi modurile de administrare a Cookie-urilor pot fi găsite în zona de setări a aplicaţiei (browser-ului web).

                      <br />
                      <br />
                      Limitarea folosirii Cookie-urilor poate afecta anumite funcţionalităţi ale paginii web.<br/>
                      În acest sens Cookie-urile Esenţiale (fără de care site-ul nostru nu mai poate funcţiona corect) nu pot fi editate.
                      <br /> <br />
                      Pentru informaţii sau solicitări în baza dreptului persoanelor vizate conform GDPR, vă puteţi adresa Ofiţerului (Responsabilului) cu Protecţia Datelor la adresa de e-mail  <a href="mailto:gdpr@1616.ro">gdpr@1616.ro</a>.
                      <br />
                     
                    </p>

                    <h5 class="mb-4">
                        Întrebări, Sugestii şi Reclamaţii?
                    </h5>
                    <p style="font-size: 14px;">
                        Aveţi întrebări referitoare la protecţia datelor, politica de utilizare cookie-uri sau la pagina noastră de internet? Nicio problemă, vă ajutăm cu plăcere.
                        <a href="mailto:gdpr@1616.ro">gdpr@1616.ro</a>
                    </p>
                    
                    <!-- <h5 class="mb-2">Íme egy kis útmutató:</h5> -->
                    <!-- <p style="font-size: 14px;">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Possimus a nobis, vero in corrupti nostrum. Magni
                      reprehenderit tempora tempore maiores, repellat in
                      laboriosam aliquid ex error, iusto quae, et similique.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p> -->
                    <!-- <div class="gallery mt-4 mb-4">
                      <div class="row">
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/banner1.png" />
                        </div>
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/blog/3.png" />
                        </div>
                      </div>
                    </div> -->
                    <!-- <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
<body id="page-top"></body>
