<%- include('../includes/head.ejs') %>
<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <section class="blog-page section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="card blog mb-4">
                  <div class="card-body">
                    <h5 class="mb-4">
                      Ce este un cookie?
                    </h5>
                    <p style="font-size: 14px;">
                      Cookie-ul este un fişier de mici dimensiuni, format din
                      litere şi numere, care va fi stocat pe computerul,
                      terminalul mobil sau alte echipamente ale unui utilizator
                      de pe care se accesează internetul. Cookie-ul este
                      instalat prin solicitarea emisă de către un web-server
                      unui browser (ex: Internet Explorer, Chrome) şi este
                      complet “pasiv” (nu conţine programe software, viruşi sau
                      spyware şi nu poate accesa informaţiile de pe hard
                      driverul utilizatorului).
                    </p>
                    <!-- <blockquote class="blockquote">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer posuere erat a ante.
                      </p>
                      <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote> -->
                    <!-- <p>
                      Praesent aliquam, enim at fermentum mollis, ligula massa
                      adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce
                      vulputate sem at sapien. Vivamus leo. Aliquam euismod
                      libero eu enim. Nulla nec felis sed leo placerat
                      imperdiet. Aenean suscipit nulla in justo.
                    </p> -->
                    <h5 class="mb-4">
                      La ce sunt folosite Cookie-urile?
                    </h5>
                    <p style="font-size: 14px;">
                      Aceste fişiere fac posibilă recunoaşterea terminalului
                      utilizatorului şi prezentarea conţinutului într-un mod
                      relevant, adaptat preferinţelor utilizatorului.
                      Cookie-urile asigură utilizatorilor o experienţă plăcută
                      de navigare şi susţin eforturile N.ro pentru a oferi
                      servicii comfortabile utilizatorilor: ex: – preferinţele
                      în materie de confidenţialitate online, publicitate
                      relevantă. De asemenea, sunt utilizate în pregătirea unor
                      statistici anonime agregate care ne ajută să înţelegem cum
                      un utilizator beneficiază de paginile noastre web,
                      permiţându-ne îmbunătăţirea structurii şi conţinutului
                      lor, excluzând indentificarea personală a utilizatorului.
                    </p>
                    <h5 class="mb-4">
                      Cum foloseşte site-ul nostru cookie-urile pe acest site?
                    </h5>
                    <p style="font-size: 14px;">
                      Folosim două tipuri de Cookie-uri: per sesiune şi fixe.
                      Cele per sesiune sunt fişiere temporare ce rămân în
                      terminalul utilizatorului până la terminarea sesiunii sau
                      închiderea aplicaţiei (browser-ului web). Cele fixe rămân
                      pe terminalul utilizatorului pe o perioada definită de
                      parametrii Cookie-ului sau până sunt şterse manual de
                      utilizator. Folosim cookie-uri pentru a personaliza
                      conţinutul şi anunţurile, pentru a oferi funcţii de reţele
                      sociale şi pentru a analiza traficul. De asemenea, le
                      oferim partenerilor de reţele sociale, de publicitate şi
                      de analize informaţii cu privire la modul în care folosiţi
                      site-ul nostru. Aceştia le pot combina cu alte informaţii
                      oferite de dvs. sau culese în urma folosirii serviciilor
                      lor.
                    </p>
                    <h5 class="mb-4">
                      Cookie-uri interne
                    </h5>
                    <p style="font-size: 14px;">
                      O vizită pe acest site poate plasa cookie-uri în scopuri
                      de:

                      <br />
                      <br />
                      <b>Cookie-uri esenţiale.</b> Necesare pentru funcţionarea
                      site-ului. Putem folosi module cookie esenţiale pentru a
                      autentifica utilizatorii, pentru a preveni utilizarea
                      frauduloasă a conturilor de utilizator sau pentru a oferi
                      funcţii specifice site-ului. <br />
                      <br />
                      <b>Cookie-uri de măsurare a traficului.</b> Ne permite să
                      recunoaştem şi să numărăm numărul de vizitatori şi să
                      vedem cum se deplasează vizitatorii în site când îl
                      folosesc. Acest lucru ne ajută să îmbunătăţim modul în
                      care funcţionează site-ul. <br />
                      <br />
                      <b>Cookie-uri de funcţionalitate.</b>
                      Este folosit pentru a vă recunoaşte când vă întoarceţi la
                      Site. Acest lucru ne permite să personalizăm conţinutul
                      nostru pentru dvs., să vă salutăm după nume şi să vă
                      amintim preferinţele dvs. (de exemplu, alegerea limbii sau
                      regiunii dvs.).
                      <br />
                      <br />
                      <b>Cookie de targetare.</b> Înregistrează vizita dvs pe
                      site, paginile pe care le-aţi vizitat şi link-urile pe
                      care aţi dat click. Vom folosi aceste informaţii pentru a
                      face site-ul şi mai relevant pentru interesele dvs. De
                      asemenea, există posibilitatea de a împărtăşi aceste
                      informaţii unor terţe părţi, tot în scopul de a face
                      site-ul mai relevant pentru dvs. <br />
                      <br />
                      <b
                        >Pentru a vedea o listă de cookie-uri folosite de
                        site-ul nostru, consultaţi
                      </b>
                      <a href="/cookie-table"> tabelul Cookies.</a>
                    </p>

                    <h5 class="mb-4">
                      Third-party (terţă-parte) cookies
                    </h5>
                    <p style="font-size: 14px;">
                      Pe lângă cookie-urile proprii, este posibil să folosim şi
                      alte cookie-uri terţă parte (third-party) pentru a raporta
                      statisticile de utilizare a site-ului şi pentru a
                      îmbunătăţi eforturile de marketing.
                      <br /><br />
                      <b>Urmărirea cookie-urilor/Tracking cookies.</b> Urmăresc
                      comportamentul pe site şi îl conectează de alte valori
                      care să permită o mai bună înţelegere a obiceiurilor de
                      utilizare. <br />
                      <br />
                      <b>Cookie-uri de optimizare/Optimization cookie.</b>
                      Permit urmărirea în timp real a conversiei utilizatorilor
                      din diverse canale de marketing pentru a evalua eficienţa
                      acestora.
                      <br />
                      <br />
                      <b>Cookie-uri pentru parteneri.</b> Oferă partenerilor
                      noştri metrici de conversie pentru a-şi putea optimiza
                      eforturile de marketing plătite.
                      <br />
                      <br />
                      <b
                        >Pentru a vedea o listă de cookie-uri third-party (terţă
                        parte) folosite de site-ul nostru, consultaţi
                      </b>
                      <a href="/cookie-table"> tabelul Cookies.</a>
                    </p>
                    <h5 class="mb-4">
                      Conţin cookie-urile date personale?
                    </h5>
                    <p style="font-size: 14px;">
                      Cookie-urile în sine nu solicită informaţii cu caracter
                      personal pentru a putea fi utilizate şi, în cele mai multe
                      cazuri, nu identifică personal utilizatorii de internet.
                      Datele personale colectate prin utilizarea Cookie-urilor
                      pot fi colectate doar pentru a facilita anumite
                      funcţionalităţi pentru utilizator. Aceste date sunt
                      criptate într-un mod care face imposibil accesul
                      persoanelor neautorizate la ele.
                    </p>
                    <h5 class="mb-4">
                      Care sunt opţiunile dvs. privind cookie-urile
                    </h5>
                    <p style="font-size: 14px;">
                      În general, o aplicaţie folosită pentru accesarea
                      paginilor web permite salvarea Cookie-urilor pe terminal
                      în mod implicit. Aceste setări pot fi schimbate în aşa fel
                      încât administrarea automată a Cookie-urilor să fie
                      blocată de browser-ul web sau utilizatorul să fie informat
                      de fiecare dată când Cookie-uri sunt trimise către
                      terminalul său. Informaţii detaliate despre posibilităţile
                      şi modurile de administrare a Cookie-urilor pot fi găsite
                      în zona de setări a aplicaţiei (browser-ului web).
                      <br />
                      <br />
                      Limitarea folosirii Cookie-urilor poate afecta anumite
                      funcţionalităţi ale paginii web. În acest sens
                      Cookie-urile Esenţiale (fără de care site-ul nostru nu mai
                      poate funcţiona corect) nu pot fi editate.
                      <br /><br />
                      Pentru informaţii sau solicitări în baza dreptului
                      persoanelor vizate conform GDPR, vă puteti adresa
                      Ofiţerului (Responsabilului) cu Protecţia Datelor la
                      adresa de e-mail
                      <a href="mailto:gdpr@1616.ro">gdpr@1616.ro</a> sau puteţi
                      accesa <a href="/cookie-table"> pagina</a> unde vă puteţi
                      exprima consimţământul referitor la fiecare fişier cookie
                      în parte.
                    </p>
                    <h5 class="mb-4">
                      De ce sunt cookie-urile importante pentru internet
                    </h5>
                    <p style="font-size: 14px;">
                      Cookie-urile reprezintă punctul central al funcţionării
                      eficiente a Internetului, ajutând la generarea unei
                      experienţe de navigare prietenoase şi adaptată
                      preferinţelor şi intereselor fiecărui utilizator.
                      Refuzarea sau dezactivarea cookie-urilor poate face unele
                      site-uri imposibil de folosit. Refuzarea sau dezactivarea
                      cookie-urilor nu înseamnă că nu veţi mai primi publicitate
                      online – ci doar că aceasta nu va mai putea ţine cont de
                      preferinţele şi interesele dvs, evidenţiate prin
                      comportamentul de navigare.
                      <br />
                      <br />
                      <b
                        >Exemple de întrebuinţări importante ale
                        cookie-urilor:</b
                      >
                      <br />
                      <br />
                      Conţinut şi servicii adaptate preferinţelor utilizatorului
                      – categorii de produse şi servicii. <br />Oferte adaptate
                      pe interesele utilizatorilor – reţinerea parolelor. <br />
                      Reţinerea filtrelor de protecţie a copiilor privind
                      conţinutul pe Internet (opţiuni family mode,funcţii de
                      safe search). <br />Limitarea frecvenţei de difuzare a
                      reclamelor – limitarea numărului de afişări a unei reclame
                      pentru un anumit utilizator pe un site. <br />
                      Furnizarea de publicitate mai relevantă pentru utilizator.
                      <br />
                      Măsurarea, optimizarea şi caracteristicile de analytics –
                      cum ar fi confirmarea unui anumit nivel de trafic pe un
                      website, ce tip de conţinut este vizualizat şi modul cum
                      un utilizator ajunge pe un website (ex prin motoare de
                      căutare, direct, din alte website-uri etc). <br />
                      Website-urile derulează aceste analize a utilizării lor
                      pentru a îmbunătăţi site-urile în beneficiul
                      utilizatorilor.
                    </p>
                    <h5 class="mb-4">
                      Întrebări, Sugestii şi Reclamaţii?
                    </h5>
                    <p style="font-size: 14px;">
                      Aveţi întrebări referitoare la protecţia datelor, politica
                      de utilizare cookie-uri sau la pagina noastră de internet?
                      Nicio problemă, vă ajutăm cu plăcere.
                      <br />
                      <br />
                      <a href="mailto:gdpr@1616.ro">gdpr@1616.ro</a>
                    </p>
                    <!-- <h5 class="mb-2">Íme egy kis útmutató:</h5> -->
                    <!-- <p style="font-size: 14px;">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Possimus a nobis, vero in corrupti nostrum. Magni
                      reprehenderit tempora tempore maiores, repellat in
                      laboriosam aliquid ex error, iusto quae, et similique.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p> -->
                    <!-- <div class="gallery mt-4 mb-4">
                      <div class="row">
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/banner1.png" />
                        </div>
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/blog/3.png" />
                        </div>
                      </div>
                    </div> -->
                    <!-- <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
<body id="page-top"></body>
