<%- include('../includes/head.ejs') %>
<body id="page-top">
  <%- include('../includes/navbar.ejs') %>
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../shared/menu.ejs') %>
    <div id="content-wrapper">
      <div class="container-fluid">
        <section class="blog-page section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="card blog mb-4">
                  <div class="card-body">
                    <h5 class="mb-4">
                      <%= lingua.kedves_felhasznalo %>
                    </h5>
                    <p style="font-size: 14px;">
                      <%= lingua.koszontunk %>
                    </p>
                    <!-- <blockquote class="blockquote">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer posuere erat a ante.
                      </p>
                      <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote> -->
                    <!-- <p>
                      Praesent aliquam, enim at fermentum mollis, ligula massa
                      adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce
                      vulputate sem at sapien. Vivamus leo. Aliquam euismod
                      libero eu enim. Nulla nec felis sed leo placerat
                      imperdiet. Aenean suscipit nulla in justo.
                    </p> -->
                    <h5 class="mb-4">
                      <%= lingua.miert_regisztralj %>
                    </h5>
                    <!-- <div class="gallery mb-4">
                      <div class="row">
                        <div class="col-sm-4">
                          <img class="rounded" alt="" src="/img/banner1.png" />
                        </div>
                        <div class="col-sm-4">
                          <img class="rounded" alt="" src="/img/blog/2.png" />
                        </div>
                        <div class="col-sm-4">
                          <img class="rounded" alt="" src="/img/blog/1.png" />
                        </div>
                      </div>
                    </div> -->
                    <p style="font-size: 14px;">
                      ➡️ <%= lingua.prmo1 %>
                    </p>
                    <p style="font-size: 14px;">
                      ➡️ <%= lingua.prmo2 %>
                    </p>
                    <p style="font-size: 14px;">
                      ➡️ <%= lingua.prmo3 %>
                    </p>
                    <p style="font-size: 14px;">
                      ➡️ <%= lingua.prmo4 %>
                    </p>
                    <p style="font-size: 14px;">
                      ➡️ <%= lingua.prmo5 %>
                    </p>
                    <!-- <h5 class="mb-2">Íme egy kis útmutató:</h5> -->
                    <!-- <p style="font-size: 14px;">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Possimus a nobis, vero in corrupti nostrum. Magni
                      reprehenderit tempora tempore maiores, repellat in
                      laboriosam aliquid ex error, iusto quae, et similique.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p> -->
                    <!-- <div class="gallery mt-4 mb-4">
                      <div class="row">
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/banner1.png" />
                        </div>
                        <div class="col-sm-6">
                          <img alt="" class="rounded" src="/img/blog/3.png" />
                        </div>
                      </div>
                    </div> -->
                    <!-- <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Non, ipsum facilis, eaque aliquid porro deleniti
                      architecto eum perferendis quidem modi quo reiciendis
                      dolor deserunt beatae repellat, nostrum aut fuga. Rem?
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Reiciendis sunt a quam, exercitationem, provident numquam
                      quia eius optio quos vitae odio impedit ipsum voluptatem
                      earum neque architecto enim quisquam, ea.
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <% if (cookie == undefined ) { %> <%- include('../shared/cookie.ejs') %>
      <% } %> <%- include('../includes/footer.ejs') %>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <%- include('../shared/logout.ejs') %>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/custom.js"></script>
</body>
<body id="page-top"></body>
